[profile.default]
src = "src"
out = "out"
libs = ["lib"]
test = "test"
cache_path = "cache"

remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/",
    "@chainlink/=lib/chainlink-brownie-contracts/",
]

solc_version = "0.8.30"
evm_version = "cancun"
optimizer = true
optimizer_runs = 200
via_ir = false

verbosity = 2
fuzz_runs = 256
fuzz_max_test_rejects = 65536

gas_reports = ["*"]
gas_reports_ignore = []

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = true
int_types = "long"
multiline_func_header = "attributes_first"
quote_style = "double"
number_underscore = "thousands"

[rpc_endpoints]
sepolia = "https://eth-sepolia.g.alchemy.com/v2/rBgXMI1K1DTe3cHIew_X3VV1EcpMlzsp"

[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY}" }
